#rojo{
background-color: red;
}
#azul{
    background-color: blue;
    height: 4px;
}

section, div{
    border: 1px solid #000;
}


.background1{
    background-image: url('../assets/img/designbetter_website_book_assets_illustrations_principlesofproductdesign_cover-1920x1081.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.boton{
    background: #FF5480; 
    color: white;
    border-radius: 10px;
}

.border{
    border-bottom: 1px solid color #aaaaaa;
}
.gris{
    color: #9B9B9B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}

#bua{
    color: #111210;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}

.bue{
    color: #111210;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
}
#rojezno{
    color: #FF5480;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}
.imagen{
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}
.image{
    color: #FFF;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 164.286% */
    letter-spacing: -0.175px;
}
.imag{
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: -0.1px;
}
.separacion{
    text-align: right;
    color: #FF5480;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}
.titulo{
    color: #000;
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 161.111% */
    letter-spacing: -0.225px;
}
.semititulo{
    color: #111210;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 58px; /* 241.667% */
letter-spacing: -0.15px;
}

.primera{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);

}
.segunda{
    fill: #FFF;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.08));

    flex-shrink: 0;
    float: right;
}

.title{
    color: #9B9B9B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}

.texto{
    color: #111210;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
letter-spacing: -0.112px;
}

.fondo{
    background-image: url(/assets/img/fondo.png);
}

.segundo{
    color: #FFF;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 164.286% */
    letter-spacing: -0.175px;
}

.primero{
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}

.tercero{
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: -0.1px;
}

.detras{
    background-image: url(/assets/img/chap4_ent_sprint-1920x1080.png);
}
 .uno{
    color: #9B9B9B;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 58px; /* 362.5% */
letter-spacing: -0.1px;
 }
 .dos{
    color: #111210;
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 46px; /* 164.286% */
letter-spacing: -0.175px;
 }
.tres{
    color: #9B9B9B;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
letter-spacing: -0.1px;
 }

#fondo{
    background-image: url(/assets/img/chap1_ent_sprint-1920x1080.png);
}
.footer{
    color: #9B9B9B;
text-align: right;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
#butun{
    color: #FF5480;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.5px;
    border-radius: 40px;
    border: 2px solid #FF5480;
    align-items: center;
}
#center{
    text-align: center;
}










.red{
    color: red;
}
