#rojo{
background-color: red;
}
#azul{
    background-color: blue;
    height: 4px;
}

section, div{
    border: 1px solid #000;
}


.background1{
    background-image: url('../assets/img/designbetter_website_book_assets_illustrations_principlesofproductdesign_cover-1920x1081.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.boton{
    background: #FF5480; 
    color: white;
    border-radius: 10px;
}

.border{
    border-bottom: 1px solid color #aaaaaa;
}
.gris{
    color: #9B9B9B;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}

#bua{
    color: #111210;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}

.bue{
    color: #111210;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.1px;
}
#rojezno{
    color: #FF5480;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 362.5% */
    letter-spacing: -0.1px;
}
h1{}